.background    { background: rgb(32, 98, 204);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: rgb(181, 181, 181); }
.ice 		   { background: rgba(41, 191, 255, 0.8); }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgba(64, 64, 64, 0.75); }
.double { background: rgba(88, 219, 0, 1) ;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgba(255, 15, 15, 0.48);
  box-shadow: -3px -6px 7px red, 3px -6px 7px red;
}

.won .player {
  background: rgba(0, 194, 29, 0.75);
  box-shadow: -5px -8px 9px green, 5px -8px 9px green;
}
